.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 150px 250px 250px 150px;
    grid-template-rows: 300px 100px;
    gap: 10px;
  
  }
  div {
      background-color: rgb(29, 29, 29);
      color: blanchedalmond;
      display: flex;
    justify-content: center;
    align-items: center;
  }