h1 {
    width: 150px;
    height: 100px;
    background-color: rgb(22, 122, 129);
    color: white;
    margin-left:75px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1::before{
    content: "";
    background-image: linear-gradient(to right,rgb(22, 122, 129),rgb(22, 122, 129) 45%,white 45%, white 70%,rgb(22, 122, 129)70%);
    width: 65px;
    height: 100px;
    position: absolute;
    left: -29%;
    transform: skewX(23deg);
}